.vs/MockUnitTest/DesignTimeBuild/.dtbcache
.vs/MockUnitTest/v16/.suo
.vs/MockUnitTest/v16/Server/sqlite3/db.lock
.vs/MockUnitTest/v16/Server/sqlite3/storage.ide
.vs/MockUnitTest/v16/TestStore/0/000-0000.testlog
.vs/MockUnitTest/v16/TestStore/0/testlog.manifest
.vs/MockUnitTests/DesignTimeBuild/.dtbcache
.vs/MockUnitTests/v16/.suo
.vs/MockUnitTests/v16/Server/sqlite3/storage.ide
.vs/MockUnitTests/v16/Server/sqlite3/storage.ide-shm
.vs/MockUnitTests/v16/Server/sqlite3/storage.ide-wal
.vs/MockUnitTests/v16/TestStore/0/000-0000.testlog
.vs/MockUnitTests/v16/TestStore/0/testlog.manifest
.vs/MockUnitTests/v16/TestStore/1/000-0000.testlog
.vs/MockUnitTests/v16/TestStore/1/testlog.manifest
MockUnitTests.Tests/bin/Debug/Castle.Core.dll
MockUnitTests.Tests/bin/Debug/Castle.Core.xml
MockUnitTests.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTest.TestAdapter.dll
MockUnitTests.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.dll
MockUnitTests.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.MSTestAdapter.PlatformServices.Interface.dll
MockUnitTests.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.dll
MockUnitTests.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.dll
MockUnitTests.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.Extensions.xml
MockUnitTests.Tests/bin/Debug/Microsoft.VisualStudio.TestPlatform.TestFramework.xml
MockUnitTests.Tests/bin/Debug/MockUnitTests.dll
MockUnitTests.Tests/bin/Debug/MockUnitTests.pdb
MockUnitTests.Tests/bin/Debug/MockUnitTests.Tests.dll
MockUnitTests.Tests/bin/Debug/MockUnitTests.Tests.pdb
MockUnitTests.Tests/bin/Debug/Moq.dll
MockUnitTests.Tests/bin/Debug/Moq.xml
MockUnitTests.Tests/bin/Debug/nunit.framework.dll
MockUnitTests.Tests/bin/Debug/nunit.framework.pdb
MockUnitTests.Tests/bin/Debug/nunit.framework.xml
MockUnitTests.Tests/bin/Debug/nunit_random_seed.tmp
MockUnitTests.Tests/bin/Debug/System.Runtime.CompilerServices.Unsafe.dll
MockUnitTests.Tests/bin/Debug/System.Runtime.CompilerServices.Unsafe.xml
MockUnitTests.Tests/bin/Debug/System.Threading.Tasks.Extensions.dll
MockUnitTests.Tests/bin/Debug/System.Threading.Tasks.Extensions.xml
MockUnitTests.Tests/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
MockUnitTests.Tests/obj/Debug/MockUnitTests.Tests.csproj.CopyComplete
MockUnitTests.Tests/obj/Debug/MockUnitTests.Tests.csproj.FileListAbsolute.txt
MockUnitTests.Tests/obj/Debug/MockUnitTests.Tests.csprojAssemblyReference.cache
MockUnitTests.Tests/obj/Debug/MockUnitTests.Tests.dll
MockUnitTests.Tests/obj/Debug/MockUnitTests.Tests.pdb
packages/
MockUnitTests/bin
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTest.AssemblyInfo.cs,MockUnitTests/obj/Debug/netstandard2.0/MockUnitTest.AssemblyInfoInputs.cache,MockUnitTests/obj/Debug/netstandard2.0/MockUnitTest.assets.cache,MockUnitTests/obj/Debug/netstandard2.0/MockUnitTest.csprojAssemblyReference.cache,MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.AssemblyInfo.cs,MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.AssemblyInfoInputs.cache,MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.assets.cache,MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.csproj.FileListAbsolute.txt,MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.csprojAssemblyReference.cache,MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.dll,MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.pdb
MockUnitTests/obj/MockUnitTest.csproj.nuget.cache
MockUnitTests/obj/MockUnitTest.csproj.nuget.dgspec.json
MockUnitTests/obj/MockUnitTest.csproj.nuget.g.props
MockUnitTests/obj/MockUnitTest.csproj.nuget.g.targets
MockUnitTests/obj/MockUnitTests.csproj.nuget.cache
MockUnitTests/obj/MockUnitTests.csproj.nuget.dgspec.json
MockUnitTests/obj/MockUnitTests.csproj.nuget.g.props
MockUnitTests/obj/MockUnitTests.csproj.nuget.g.targets
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTest.AssemblyInfo.cs
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTest.AssemblyInfoInputs.cache
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTest.assets.cache
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTest.csprojAssemblyReference.cache
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.AssemblyInfo.cs
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.AssemblyInfoInputs.cache
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.assets.cache
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.csproj.FileListAbsolute.txt
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.csprojAssemblyReference.cache
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.dll
MockUnitTests/obj/Debug/netstandard2.0/MockUnitTests.pdb
